{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block monTitre %}
	Page d'administration
{% endblock %}

{% block body %}
	<a href="" class="btn btn-success mb-4">Ajouter</a>
	<table class="table">
		<thead class="table-primary">
			<tr>
				<td>Image</td>
				<td>Aliment</td>
				<td>Prix</td>
				<td>Calories</td>
				<td>Protéines</td>
				<td>Glucides</td>
				<td>Lipides</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			{% for aliment in aliments %}
				<tr>
					<td>
						<img class="perso_imgAlimentAdmin" src="{{ asset('images/' ~ aliment.image)}}" alt="">
					</td>
					<td class="table-active">{{aliment.nom}}</td>
					<td>{{aliment.prix}}</td>
					<td>{{aliment.calorie}}</td>
					<td>{{aliment.proteine}}</td>
					<td>{{aliment.glucide}}</td>
					<td>{{aliment.lipide}}</td>
					<td>
						<a href="" class="btn btn-secondary">modifier</a>
						<a href="" class="btn btn-danger">supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

{% endblock %}
