{% extends 'base.html.twig' %}

{% block title %}
	Admin modication aliment :
	{{ aliment.nom }}
{% endblock %}

{% block monTitre %}
	Page de modication aliment :
	{{ aliment.nom }}
{% endblock %}

{% block body %}
<div class="container">
	{{ form_start(form) }}
	<div class="row">
		<div class="col-6">
			<img src="{{ asset('images/' ~ aliment.image) }}" style="width: 25%;">
			<div>
				{{ form_row(form.image)}}
			</div>
			<div>
				{{ form_row(form.nom, {'attr': { 'class': 'text-danger' },'label': 'Nom de l\'aliment'})}}
				</div>
			</div>
			<div class="col-6">
				{{ form_widget(form) }}
			</div>
	</div>
	<div class="row">
		<input type="submit" class="btn btn-primary mt-2" value="Enregistrer">
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}
